.pagination__li--fondo:hover {
    background-color: $eeirie-black;
    
}

.pagination__li--color {
    color: $eeirie-black;
}

.pagination__li--color:hover {
    color: $white;
}

.page-item:last-child .page-link {
    border-top-right-radius: 1.25rem;
    border-bottom-right-radius: 1.25rem;
}

.page-item:first-child .page-link {
    margin-left: 0;
    border-top-left-radius: 1.25rem;
    border-bottom-left-radius: 1.25rem;
}