.hero__bg{
    background-image: url('../images/post-image.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 95vh;
}

.hero__title{
    font-family: 'Playfair Display', serif;
    font-size: $xx-large;
    font-style: italic;
    padding-top: 20rem;
    font-weight: $font-bold;
    color: $white;
}

@media (max-width:600px){
    .hero__title{
        padding-top: 10rem;
    }
    }

.hero__icon{
    color: $white;
    font-size: 60px;
    margin-top: 8rem;
}